// Contact Page Styles

#content-container {
	#intro {
		display: block;
		margin: -10% auto 0 auto;
		background: @orange;
		color: @grey;
		h3 {
			font-size: 2rem;
			margin-bottom: 25px;
			letter-spacing: 0.3rem;
			text-align: center;
		}
	}
	#info {
		background: @grey;
		color: @purple;
		margin: 25px auto 0 auto;
		width: 100%;
		padding: 10% 15%;
		.btn {
			.button(@font-color, @button-bg, 50%, 1.5rem);
			border: 2px solid @orange;
			&hover {
				background: @orange;
			}
		}
	}
}
