// Homepage

#intro {
	display: block;
	margin: -10% auto 0 auto;
	background: @orange;
	color: @grey;
}
#supporter {
	background: @grey;
	color: @purple;
	margin: 25px auto 0 auto;
	width: 100%;
	padding: 10% 15%;
}
#supporter button {
	border: 2px solid @orange;
}
#organizer h3,
#supporter h3 {
	font-size: 2rem;
	margin-bottom: 25px;
	letter-spacing: 0.3rem;
	text-align: center;
}
#organizer {
	background: @orange;
	width: 80%;
	margin: 25px auto 25px auto;
	padding-top: 50px;
}
button {
	width: 50%;
	background: @purple;
	color: @grey;
	cursor: pointer;
	padding: 10px 20px;
	margin: 0 auto;
	display: block;
	border: 2px solid @border;
	border-radius: 50px;
	font-size: 1.5rem;
}
button:hover {
	background: @teal;
}